Data Types and Structures

Theoretical Question Answer

1. What are data structures, and why are they important?
   - Data structures are ways to organize, manage, and store data for efficient access and modification. They are essential for writing efficient algorithms and managing large amounts of data effectively.

2. Difference between mutable and immutable data types with examples:
   - Mutable: Can be changed after creation. Example: list, dict, set.Example :-
   a = [1, 2]
   a.append(3) # Changes the list
   Immutable: Cannot be changed. Example: int, str, tuple.
   Example :-
   s = "hello"
   s[0] = "H"  # Error: strings are immutable

3. Main differences between lists and tuples:
   - List
   (i) Mutable: Can be modified (add, remove, change elements).
   (ii) Syntax: Defined using square brackets [].
   (iii) Use Case: Best for dynamic data that changes over time.
   Tuple
   (i) Immutable: Cannot be changed after creation.
   (ii) Syntax: Defined using parentheses ().
   (iii) Use Case: Ideal for fixed or constant data.

4. How dictionaries store data:
   - Dictionaries store data as key-value pairs in a hash table. Keys are hashed to unique indexes for fast lookup.

5. Why use a set instead of a list:
   - To store unique values only.
   - Faster membership testing (O(1) average vs O(n) in lists).

6. What is a string in Python, and how is it different from a list?
   - A string is an immutable sequence of characters. A list is a mutable sequence of elements that can be of any type.

7. How do tuples ensure data integrity in Python?
   - Tuples are immutable, so once created, their data cannot be changed—ideal for fixed, read-only data.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables internally for fast key-based access.

9. Can lists contain different data types in Python?
   - Yes. Python lists can contain mixed data types:
   example = [1, "hello", 3.14, True]

10. Why are strings immutable in Python?
   - For memory efficiency, thread safety, and to allow hashing (so they can be used as dictionary keys or set elements).

11. Advantages of dictionaries over lists:
   - Faster lookup via keys (O(1) average).
   - Key-value association for better data labeling.
   - Suitable for unordered, non-sequential data.

12. When is a tuple preferable over a list?
   - When the data is fixed and should not change, e.g., storing a GPS coordinate (lat, long).

13. How do sets handle duplicate values in Python?
   - Sets automatically discard duplicates:
   s = {1, 2, 2, 3}
   print(s)  # Output: {1, 2, 3}

14. “in” keyword in lists vs. dictionaries:
   - List: Checks if the value exists.
   2 in [1, 2, 3]  # True
   - Dictionary: Checks if the key exists.
   'a' in {'a': 1, 'b': 2}  # True

15. Can you modify elements of a tuple?
   - No. Tuples are immutable. Once created, you cannot change, add, or remove elements.

16. What is a nested dictionary? Example use case:
   - A dictionary inside another dictionary.
   students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}
   - Use case: Organizing structured data like user profiles or configurations.

17. Time complexity of accessing elements in a dictionary:
   - O(1) average-case due to hash table implementation.

18. When are lists preferred over dictionaries?
   - When order matters.
   - When index-based access is needed.
   - When storing sequences of data without keys.

19. Why are dictionaries considered unordered?
   - In older Python versions (<3.7), dictionaries didn’t preserve order. Even though they do now, their primary design is for key-based access, not ordering.

20. Difference between list and dictionary in data retrieval:
   - List: Access via index (e.g., list[0]).
   - Dictionary: Access via key (e.g., dict['key']), enabling faster and more descriptive lookups.

Practical Question

In [ ]:
#1. Write a code to create a string with your name and print it
name = "Ashu"
print("My name is:", name)

My name is: Ashu

In [ ]:
#2. Write a code to find the length of the string "Hello World"
text = "Hello World"
length = len(text)
print("Length of the string:", length)

Length of the string: 11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
sliced_text = text[:3]
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase
text = "hello"
uppercase_text = text.upper()
print("Uppercase:", uppercase_text)

Uppercase: HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [ ]:
#6.  Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

In [ ]:
#7.  Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print("Second element:", second_element)

Second element: b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[::-1]
print("Reversed list:", reversed_numbers)

Reversed list: [50, 40, 30, 20, 10]

In [1]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
numbers = (100, 200, 300)
print("Tuple:", numbers)

Tuple: (100, 200, 300)

In [3]:
#12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print("Second-to-last element:", second_last)

Second-to-last element: blue

In [4]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print("Minimum number:", minimum)

Minimum number: 5

In [5]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
index = animals.index("cat")
print("Index of 'cat':", index)

Index of 'cat': 1

In [6]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'mango')
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [7]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
letters = {'a', 'b', 'c'}
print("Set:", letters)

Set: {'a', 'b', 'c'}

In [8]:
#17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print("Set after clearing:", numbers)

Set after clearing: set()

In [9]:
#18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
numbers = {1, 2, 3, 4}
numbers.remove(4)
print("Set after removing 4:", numbers)

Set after removing 4: {1, 2, 3}

In [10]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

In [11]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

In [13]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person = {
    "name": "Ashu",
    "age": 22,
    "city": "Hapur"
}
print(person)

{'name': 'Ashu', 'age': 22, 'city': 'Hapur'}

In [14]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [15]:
#23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [16]:
#24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [17]:
#25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [18]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'John', 'age': 28, 'city': 'London'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 28, 'city': 'London'}

In [19]:
#27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [14, 17, 26, 64, 72]

In [20]:
#28. Write a code to create a list with strings and print the element at the third index.
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print("Element at index 3:", fruits[3])

Element at index 3: date

In [21]:
#29.  Write a code to combine two dictionaries into one and print the result.
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris', 'country': 'France'}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

In [22]:
#30. Write a code to convert a list of strings into a set.
string_list = ['apple', 'banana', 'cherry', 'apple', 'banana']
string_set = set(string_list)
print(string_set)

{'apple', 'banana', 'cherry'}